registry = "https://registry.npmmirror.com/"

auto-install-peers=true
dedupe-peer-dependents=true
strict-peer-dependencies=false

link-workspace-packages=true
shared-workspace-lockfile=true
save-workspace-protocol=rolling

public-hoist-pattern[]=husky
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=turbo
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=@changesets/*

prefer-offline=true
node-linker=hoisted
