.git/
node_modules/
pnpm-lock.yaml
.turbo/
dist/
public/
.env*.development
.env*.production
.env
.gitignore
.prettierignore
.prettierrc
prettier.config.js
.eslintignore
.eslintrc
eslint.config.js
*.json
